# Thanks for the gitignore, Prof. Marz :)
# Prerequisites
.vs/*
.vscode/*
*.d
.*DS*
doc/.*DS*
doc/._*
sbi.bin
cosc562.elf
cosc562.bin
*.dsk
debug.pipe 
# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
dtb.dtb

# vim file
*.swp

# image file
*.RGBA
*.bmp
